<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en" layout:decorator="/layouts/main">


<body>
	<div layout:fragment="content">
		<div class="right_col" role="main">
			<div class="x_content dashboard_graph">
				<div class="row x_title">
					<h3 th:text="#{ficha.cadastrar}"></h3>
				</div>
				<form enctype="multipart/form-data" class="form-horizontal form-label-left col-md-10 col-sm-10 col-xs-10"  th:object="${account}" method="post" th:action="@{/usuario/salvar}">
					<label>Usuário</label>
					<input type="text" th:field="*{username}"/>
					<label>Senha:</label>
					<input type="password" th:field="*{password}"/>
					<label>Nome:</label>
					<input type="text" th:field="*{pessoa.nome}"/>
					<select th:field="*{roles}">
						<option th:each="role : ${roles}" th:text="${role.role}" th:value="${role.id}"></option>
					</select>
					<input type="file" th:field="*{pessoa.picture.filename}"/>
					<input type="submit"/>
				</form>
			</div>
		</div>
	</div>


</body>
</html>