<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<body>
		<div class="col-md-3 left_col" th:fragment="items">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a th:href="@{/}" class="site_title" ><i class="fa fa-home"></i> <span th:text="#{menu.ct}"></span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img class="img-circle profile_img" th:src="${#authentication.principal.pessoa.picture?.pictureBase64}" alt="imagem do usuário"></img>
              </div>
              <div class="profile_info">
                <span th:text="#{menu.bemvindo}"></span>
                <h2><span sec:authentication="principal.pessoa.nome"></span></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a id="residente"><i class="fa fa-home"></i> <span th:text="#{menu.residentes}"></span> <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a id="cadastrar" th:href="@{/residente/cadastrar}" th:text="#{menu.cadastrar}"></a></li>
                      <li><a id="pesquisar" th:href="@{/residente/listar}" th:text="#{menu.pesquisar}"></a></li>

                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> <span th:text="#{menu.atestados}"></span> <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#" th:text="#{menu.permanencia}"></a></li>
                      <li><a href="#" th:text="#{menu.desligamento}"></a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> <span th:text="#{menu.relatorios}"></span> <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#" th:text="#{menu.comunidade}"></a></li>
                      <li><a href="#" th:text="#{menu.dependencias}"></a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

	</body>
</html>