<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<body>
		<div class="top_nav" th:fragment="items">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img th:src="${#authentication.principal.pessoa.picture?.pictureBase64}" alt="imagem do usuário"></img><span sec:authentication="principal.pessoa.nome"></span>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a th:href="@{/logout}" th:text="#{menu.logout}"><i class="fa fa-sign-out pull-right"></i></a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
	</body>
</html>