<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	<style>
		body{
			width:75%;
			margin:auto;
		}
		.text-center{
			text-align:center;
		}
		.text-justify{
			text-align:justify;
		}
		.text-right{
			text-align:right;
		}
	</style>
	</head>
	<body onload="window.print();">
		<br/>
		<br/>
		<h1 class="text-center" th:text="#{atestado.ct}">Comunidade Terapêutica Ebenézer</h1>
		<br/>
		<br/>
		<p class="text-right"><span th:text="#{atestado.cidade}"></span><th:block th:text="${#dates.format(#dates.createNow(),'dd')}"></th:block> de <th:block th:text="${#dates.format(#dates.createNow(),'MMMM')}"></th:block> de <th:block th:text="${#dates.format(#dates.createNow(),'YYYY')}"></th:block>.</p>
		<br/>
		<p class="text-justify">
			<span th:text="#{atestado.texto1}"></span> <th:block th:text="${residente.nome}"></th:block>
			<span th:text="#{atestado.texto2}"></span>	<th:block th:text="${#dates.format(residente.dataEntrada,'dd/MM/YYYY')}"></th:block>
			<span th:text="#{atestado.texto3}"></span> <th:block th:text="${tempo}"></th:block>
			<span th:text="#{atestado.texto4}"></span> <th:block th:text="${#dates.format(residente.dataSaida,'dd/MM/YYYY')}">dataSaida</th:block>.
		<br/>
		<br/>
		<span th:text="#{atestado.atenciosamente}"> </span>
		<br/>
		<br/>_______________________<br/>
		<span th:text="#{atestado.nome}"></span><br/>
				<span th:text="#{atestado.presidente}"></span>
		</p>
	</body>
</html>