<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en" layout:decorator="/layouts/main">


<body>
	<div layout:fragment="content">
		<div class="right_col" role="main">
			<div class="x_content dashboard_graph">
				<div class="row x_title">
					<h3>Cadastrar Residente</h3>
				</div>
				<form class="form-horizontal form-label-left col-md-10 col-sm-10 col-xs-10"  th:object="${residente}" method="post" th:action="@{/residente/salvar}">
					<input type="hidden" th:field="*{id}"/>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Nome:</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" id="nome" class="form-control" required="required" readonly="readonly" th:field="*{nome}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-3">Data
							de Nascimento:</label>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="input-group">
								<input type="hidden" th:fiel="*{dataNascdimento}"/>
								<input type="text" class="form-control"	required="required" th:value="${#dates.format(residente.dataNascimento,'dd/MM/YYYY')}" readonly="readonly" />
							</div>
						</div>
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Naturalidade:</label>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="input-group">
								<input type="text" class="form-control" required="required"
									id="naturalidade" th:field="*{Naturalidade}" readonly="readonly"  />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Profissão:</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" class="form-control" id="profissao" th:field="*{profissao}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Estado
							civil:</label>
						<div class="col-md-9 col-sm-9 col-xs-12" style="padding-top:8px;">
							<select th:field="*{estadoCivil}">
								<option th:each="estado : ${estadosCivis}" th:text="${estado}" th:value="${estado}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-3">Rua:</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" class="form-control" required="required" id="rua" th:field="*{endereco.rua}" />
						</div>
						<label class="control-label col-md-1 col-sm-1 col-xs-1">N°:</label>
						<div class="col-md-1 col-sm-1 col-xs-1">
							<input type="text" class="form-control" required="required" id="numero" th:field="*{endereco.numero}"/>
						</div>
					</div>
					<div class="form-group"></div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Bairro:</label>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<input type="text" class="form-control" required="required" id="bairro" th:field="*{endereco.bairro}"/>
						</div>
						<label class="control-label col-md-2 col-sm-2 col-xs-12">Cidade:</label>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<input type="text" class="form-control" required="required" id="cidade" th:field="*{endereco.cidade}"/>
						</div>
					</div>
					<div class="form-group"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Responsável</label>
						<div class="col-sm-9 col-md-9 col-xs-12">
							<input type="text" class="form-control" required="required" id="responsavel" th:field="*{responsavel}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Observações</label>
						<div class="col-sm-9">
							<textarea id="message" class="form-control" name="message" th:field="*{observacoes}" th:text="${residente.observacoes}"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Dependências
							</label>
						<div class="col-md-9 col-sm-9 col-xs-12" style="position:relative; left:30px;">
							<div class="checkbox" th:each="dependencia : ${dependencias1}">
								  <input type="checkbox" th:text="${dependencia.name()}" th:field="*{dependencias}" th:value="${dependencia}"/>
							</div>
						</div>
					</div>


					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
							<a class="btn btn-primary" th:href="@{/residente/listar}">Cancelar</a>
							<button type="reset" class="btn btn-primary">Limpar</button>
							<button id="salvar" type="submit" class="btn btn-success">Salvar</button>
						</div>
					</div>

				</form>
			</div>



		</div>
	</div>

</body>
</html>