<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en" layout:decorator="/layouts/main">


<body>
	<div layout:fragment="content">
		<div class="right_col" role="main">
			<div class="x_content dashboard_graph">
				<div class="row x_title">
					<h3 th:text="#{lista.residente}">Residentes</h3>
				</div>
				<table id="datatable" class="table table-striped table-bordered printable">
					<thead>
						<tr>
							<th class="col-md-5" th:text="#{lista.nome}"></th>
							<th class="col-md-1" th:text="#{lista.editar}"></th>
							<th class="col-md-1" th:text="#{lista.PIA}"></th>
							<th class="col-md-2" th:text="#{lista.desligarReingressar}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="residente : ${residentes}">
							<td th:text="${residente.nome}"></td>
							<td><a th:href="@{/residente/editar/}+${residente.id}" class="btn btn-primary" th:text="#{lista.editar}"></a></td>
							<td>
								<a th:if="${residente.ativo}==true and ${residente.piaAtivo}==true" th:href="@{/pia/editar/}+${residente.id}" class="btn btn-primary" th:text="#{lista.editarPIA}"></a>
								<a th:if="${residente.ativo}==true and ${residente.piaAtivo}==false" th:href="@{/pia/cadastrar/}+${residente.id}" class="btn btn-primary" th:text="#{lista.cadastrarPIA}"></a>
							</td>
							<td>
								<a th:if="${residente.ativo}==false" th:href="@{/residente/reingressar/}+${residente.id}"  class="btn btn-success" th:text="#{lista.reingressar}"></a>
								<a th:if="${residente.ativo}==true" th:href="@{/residente/desligar/}+${residente.id}" class="btn btn-danger" th:text="#{lista.desligar}"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	 <th:block layout:fragment="css-view">
		<link type="text/css" rel="stylesheet" href="/webjars/datatables/1.10.13/media/css/dataTables.bootstrap.css" />
		<link href="/webjars/datatables.net-bs/1.10.13/css/dataTables.bootstrap.css" rel="stylesheet"/>
   		<link href="/webjars/datatables.net-buttons-bs/1.2.4/css/buttons.bootstrap.css" rel="stylesheet"/>
    	<link href="/webjars/datatables.net-fixedheader-bs/3.1.2/css/fixedHeader.bootstrap.min.css" rel="stylesheet"/>
    	<link href="/webjars/datatables.net-responsive-bs/2.1.0/css/responsive.bootstrap.css" rel="stylesheet"/>
    	<link href="/webjars/datatables.net-scroller-bs/1.4.2/css/scroller.bootstrap.min.css" rel="stylesheet"/>
	</th:block>
	<th:block layout:fragment="js-view">
		<script src="/webjars/datatables.net/1.10.13/js/jquery.dataTables.js"></script>
		<script src="/datatables.net-bs/1.10.13/js/dataTables.bootstrap.js"></script>
		<script src="/webjars/datatables.net-buttons-bs/1.2.4/js/buttons.bootstrap.js"></script>
		<script src="/webjars/datatables.net-bs/1.10.13/js/dataTables.bootstrap.js"></script>
		<script src="/webjars/datatables.net-buttons/1.3.1/js/dataTables.buttons.min.js"></script>
		<script src="/webjars/datatables.net-buttons/1.3.1/js/buttons.flash.min.js"></script>
		<script src="/webjars/datatables.net-buttons/1.3.1/js/buttons.html5.min.js"></script>
		<script src="/webjars/datatables.net-buttons/1.3.1/js/buttons.print.min.js"></script>
		<script src="/webjars/datatables.net-fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
		<script src="/webjars/datatables.net-keytable/2.2.0/js/dataTables.keyTable.min.js"></script>
		<script src="/webjars/datatables.net-responsive/2.1.0/js/dataTables.responsive.js"></script>
		<script src="/webjars/datatables.net-responsive-bs/2.1.0/js/responsive.bootstrap.js"></script>
		<script src="/webjars/datatables.net-scroller/1.4.2/js/dataTables.scroller.min.js"></script>
		<script>
		$('#datatable').DataTable({
    		"language": {
                "lengthMenu": "Mostrando _MENU_ registros",
                "zeroRecords": "Nenhum residente encontrado com o termo pesquisado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "paginate": {
                    "first":      "Primeira",
                    "last":       "Última",
                    "next":       "Próxima",
                    "previous":   "Anterior"
                },
                "search":"Buscar:"
            }
    	});

		</script>
	</th:block>

</body>
</html>