<!DOCTYPE html>
<html lang="en" layout:decorator="/layouts/main">


<body>

	<div layout:fragment="content">
	<div class="right_col" role="main">
		<section class="x_content dashboard_graph">
			<div class="row x_title">
				<h1>
					<span th:text="#{erro.texto.titulo}"></span> <br/>
					<small><span th:text="#{erro.titulo.descricao}" /></small>
				</h1>
			</div>
		</section>
		

			<div class="x_content dashboard_graph">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th th:text="#{erro.texto.chave}">Key</th>
							<th th:text="#{erro.texto.valor}">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="#{erro.texto.hora}">TimeStamp</td>
							<td th:text="${timestamp}"></td>
						</tr>
						<tr>
							<td th:text="#{erro.texto.status}">Status</td>
							<td th:text="${status}"></td>
						</tr>
						<tr>
							<td th:text="#{erro.texto.mensagem}">Message</td>
							<td th:text="${message}"></td>
						</tr>
						<tr>
							<td th:text="#{erro.texto.erro}">Error</td>
							<td th:text="${error}"></td>
						</tr>
						<tr>
							<td th:text="#{erro.texto.local}">Path</td>
							<td th:text="${path}"></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>


	</div>
</body>

</html>
