<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en" layout:decorator="/layouts/main">

<body>
	<div layout:fragment="content">
		<div class="right_col" role="main">
			<div class="x_content dashboard_graph printable">
				<br/>
				<br/>
				<h1 class="text-center" th:text="#{atestado.ct}">Comunidade Terapêutica Ebenézer</h1>
				<br/>
				<br/>
				<p class="text-right"><span th:text="#{atestado.cidade}"></span><th:block th:text="${#dates.format(#dates.createNow(),'dd')}"></th:block> de <th:block th:text="${#dates.format(#dates.createNow(),'MMMM')}"></th:block> de <th:block th:text="${#dates.format(#dates.createNow(),'YYYY')}"></th:block>.</p>
				<br/>
				<p><span th:text="#{atestado.texto5.1}"></span><br/></p>
				<p class="text-justify">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="#{atestado.texto5}"></span><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="#{atestado.texto5.2}"></span> <th:block th:text="${residente.nome}"></th:block>
					<span th:text="#{atestado.texto6}"></span> <th:block th:text="${residente.rg}"></th:block>
					<span th:text="#{atestado.texto7}"></span>	<th:block th:text="${#dates.format(pia.dataEntrada,'dd/MM/YYYY')}"></th:block>
				<br/>
				<br/>
				<span th:text="#{atestado.atenciosamente}"> </span>
				<br/>
				<br/>_______________________<br/>
				<span th:text="#{atestado.nome}"></span><br/>
						<span th:text="#{atestado.presidente}"></span>
				</p>
			</div>
			<button onclick="window.print();">Imprimir</button>
		</div>
	</div>
	<th:block layout:fragment="css-view">
		<style>
			.text-center{
				text-align:center;
			}
			.text-justify{
				text-align:justify;
			}
			.text-right{
				text-align:right;
			}
			@media print {
			  body * {
			    visibility: hidden;
			  }
			  .printable, .printable * {
			    visibility: visible;
			  }
			  p{
			  	font-size:12pt;
			  }
			  
			}
		</style>
	</th:block>
</body>
</html>